.tabela-container {
    max-height: 800px;
    overflow: auto;
}

.navbar-shadow {
    box-shadow: 0px 0px 5px rgba(30, 30, 30, 0.5);
}

#capacidadeCanvas{
    width:100% !important;
    height:100px !important;
}

#categoriasCanvas{
    width:100% !important;
    height:100px !important;
}

#listaderedes {
  height: 400px;
  overflow-y: scroll;
}

.scrollbar{
    height: 600px;
    overflow-y: scroll;
}

table {
  table-layout: fixed;
  width: 100%;
}

th, td {
  word-wrap: break-word;
}
