.tabela-container {
    max-height: 800px;
    overflow: auto;
}

.navbar-shadow {
    box-shadow: 0px 0px 5px rgba(30, 30, 30, 0.5);
}

canvas{
    width:100% !important;
    height:100px !important;
}
